<div class="container">
    <div class="border border-2 border-dark p-3 my-5 rounded">
        <h3 class="text-center">Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Type anything to login" name="email"
                    required #username="ngModel" ngModel >
                <div class="text-danger" *ngIf="username.touched">
                    <span *ngIf="username.errors?.['required']">Required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Type anything to login"
                    name="password" required #pwd="ngModel" ngModel>
                <div class="text-danger" *ngIf="pwd.touched">
                    <span *ngIf="pwd.errors?.['required']">Required</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>