.date-picker {
    position: relative;
    display: inline-block;
}

.date-picker input[type="date"] {
    padding-right: 25px;
}

.date-picker i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search{
    border: 1px solid black;
}
